$bg-white: #fff;
$bg-off-white: #f2f1e8;
$bg-off-white-blue: #f0f8ff;
$bg-black: #191919;
$bg-blue-royal: #242839;

$border-line-grey: #D2D2D2;

$button-radius: 3px;
$button-color-blue: #5f6b97;
$button-color-grey: grey;

$card-radius: 6px;

$text-color-black: #111319;
$text-color-green: #699f51;
$text-color-white: #eee;

$width-desktop-l: 1500px;
$width-desktop-s: 1100px;
$width-tablet-l: 993px;
$width-tablet-s: 576px;
$width-mobile: 575px;