/** ******************* Importing references ******************* */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-MediumItalic.eot");
  src: url("../fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.ttf") format("truetype"), url("../fonts/Roboto-MediumItalic.svg#Roboto-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.eot");
  src: url("../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/Roboto-LightItalic.svg#Roboto-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.eot");
  src: url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BlackItalic.eot");
  src: url("../fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic.ttf") format("truetype"), url("../fonts/Roboto-BlackItalic.svg#Roboto-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.eot");
  src: url("../fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-ThinItalic.eot");
  src: url("../fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic.ttf") format("truetype"), url("../fonts/Roboto-ThinItalic.svg#Roboto-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-SemiBold.eot");
  src: url("../fonts/RobotoSlab-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-SemiBold.woff2") format("woff2"), url("../fonts/RobotoSlab-SemiBold.woff") format("woff"), url("../fonts/RobotoSlab-SemiBold.ttf") format("truetype"), url("../fonts/RobotoSlab-SemiBold.svg#RobotoSlab-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Bold.eot");
  src: url("../fonts/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.ttf") format("truetype"), url("../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-ExtraBold.eot");
  src: url("../fonts/RobotoSlab-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-ExtraBold.woff2") format("woff2"), url("../fonts/RobotoSlab-ExtraBold.woff") format("woff"), url("../fonts/RobotoSlab-ExtraBold.ttf") format("truetype"), url("../fonts/RobotoSlab-ExtraBold.svg#RobotoSlab-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Thin.eot");
  src: url("../fonts/RobotoSlab-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Thin.woff2") format("woff2"), url("../fonts/RobotoSlab-Thin.woff") format("woff"), url("../fonts/RobotoSlab-Thin.ttf") format("truetype"), url("../fonts/RobotoSlab-Thin.svg#RobotoSlab-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Black.eot");
  src: url("../fonts/RobotoSlab-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Black.woff2") format("woff2"), url("../fonts/RobotoSlab-Black.woff") format("woff"), url("../fonts/RobotoSlab-Black.ttf") format("truetype"), url("../fonts/RobotoSlab-Black.svg#RobotoSlab-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-ExtraLight.eot");
  src: url("../fonts/RobotoSlab-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-ExtraLight.woff2") format("woff2"), url("../fonts/RobotoSlab-ExtraLight.woff") format("woff"), url("../fonts/RobotoSlab-ExtraLight.ttf") format("truetype"), url("../fonts/RobotoSlab-ExtraLight.svg#RobotoSlab-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Medium.eot");
  src: url("../fonts/RobotoSlab-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Medium.woff2") format("woff2"), url("../fonts/RobotoSlab-Medium.woff") format("woff"), url("../fonts/RobotoSlab-Medium.ttf") format("truetype"), url("../fonts/RobotoSlab-Medium.svg#RobotoSlab-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Regular.eot");
  src: url("../fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype"), url("../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Light.eot");
  src: url("../fonts/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Light.woff2") format("woff2"), url("../fonts/RobotoSlab-Light.woff") format("woff"), url("../fonts/RobotoSlab-Light.ttf") format("truetype"), url("../fonts/RobotoSlab-Light.svg#RobotoSlab-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/** ******************* Utilities ******************* */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn {
  border-radius: 3px;
}

.btn.btn-primary {
  color: #fff;
  background-color: #5f6b97;
  border-color: #1861ac;
}

.btn.btn-secondary {
  color: #fff;
  background-color: grey;
  border-color: grey;
}

.text-green {
  color: #699f51;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/** ******************* Global Bootstrap overrides ******************* */
.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-header h5 {
  font-family: "Roboto Slab";
  font-weight: 400;
}

nav {
  background-color: #fff;
}

nav.navbar {
  border-radius: 0px;
}

nav.navbar .navbar-brand {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.75rem;
  line-height: inherit;
  white-space: normal;
  color: #111319;
}

.table {
  color: #111319;
  border-radius: 6px;
  background-color: #f2f1e8;
}

.table thead tr th {
  border-top: 0;
}

/** ******************* Custom CSS ******************* */
html {
  font-size: 14px;
  position: relative;
  padding-bottom: 60px;
}

html body {
  font-family: "Roboto";
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

html body header {
  position: absolute;
  width: 100%;
}

html body header nav .container {
  font-family: "Roboto Slab";
  font-weight: 400;
}

html body #root {
  width: 100%;
}

html body #root .section-list {
  min-height: 100%;
  padding-top: 80px;
  width: 100%;
  background-color: #242839;
}

html body #root .section-list h1 {
  font-family: "Roboto Slab";
  font-weight: 400;
  margin-bottom: 40px;
  color: #eee;
  font-size: 3.5rem;
  text-align: center;
}

html body #root .section-list .list-container {
  min-height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: auto;
}

@media (max-width: 575px) {
  html body #root .section-list .list-container {
    padding: 0px 10px;
  }
}

@media (min-width: 576px) {
  html body #root .section-list .list-container {
    padding: 0px 75px;
  }
}

@media (min-width: 1100px) {
  html body #root .section-list .list-container {
    padding: 0px 150px;
  }
}

@media (min-width: 1500px) {
  html body #root .section-list .list-container {
    padding: 0px 300px;
  }
}

html body #root .section-list .list-container table {
  color: #111319;
  border-radius: 6px;
  background-color: #f2f1e8;
}

html body #root .section-list .list-container table thead tr th {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-weight: bold;
}

html body #root .section-list .list-container table tbody tr th {
  font-weight: 300;
}

html body #root .section-form {
  min-height: 100%;
  padding-top: 80px;
  width: 100%;
  background-color: #242839;
}

html body #root .section-form .form-container {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body #root .section-form .form-container h1 {
  font-family: "Roboto Slab";
  font-weight: 400;
  margin-bottom: 40px;
  color: #eee;
  font-size: 3.5rem;
}

html body #root .section-form .form-container #form-activity {
  background-color: #f2f1e8;
  color: #111319;
  padding: 20px;
  border-radius: 6px;
  min-height: 300px;
}

@media (max-width: 575px) {
  html body #root .section-form .form-container #form-activity {
    width: 350px;
  }
}

html body #root .section-form .form-container #form-activity .row .form-group {
  text-align: left;
  font-weight: 300;
}

html body #root .section-form .form-container #form-activity .row .form-group label {
  padding-left: 5px;
}

html body #root .section-form .form-container #form-activity .row .form-group input {
  border: 0;
  border-bottom: 1px solid #D2D2D2;
  border-radius: 0px;
  background-color: transparent;
  font-weight: 400;
}

html body #root .section-form .form-container #form-activity .row .form-group textarea {
  min-height: 150px;
}

html body #root .section-form .form-container #form-activity .validation-summary-errors {
  color: red;
  text-align: left;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  text-align: center;
  background-color: #191919;
  color: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.footer .container {
  color: #eee;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/*# sourceMappingURL=app.css.map */